/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE    0
#define FN      1
#define CUSTOM  2
#define EDIT    3
#define SHIFTED 4
#define LAYER5  5
#define LAYER6  6
#define LAYER7  7
#define LAYER8  8
#define LAYER9  9

/ {
    behaviors {
        mt200: mod_tap_200 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
        };

        lt150: layer_tap_150 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <150>;
            quick-tap-ms = <150>;
        };

        lt300: layer_tap_300 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&mo>, <&kp>;

            flavor = "hold-preferred";
            tapping-term-ms = <300>;
            quick-tap-ms = <300>;
        };

        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;
        };
    };

    macros {
        macro_m0: macro_m0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp N1 &kp N2 &kp N6 &kp N2 &kp A &kp N &kp D &kp N6 &kp LBKT>;
        };

        macro_m1: macro_m1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp N1 &kp N2 &kp N6 &kp N2 &kp LS(A) &kp N &kp D &kp N6 &kp AT>;
        };

        macro_m2: macro_m2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings = <&kp M &kp P &kp A>;
        };

        macro_m3: macro_m3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LCTRL &kp LSHFT>
                , <&macro_tap &kp MINUS>
                , <&macro_release &kp LCTRL &kp LSHFT>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_esc_alt_tab {
            bindings = <&kp TAB>;
            key-positions = <0 12>;
            layers = <BASE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
&kp ESC     &kp Q     &kp W     &kp E      &kp R             &kp T                    &kp Y                   &kp U              &kp I          &kp O       &kp P       &kp DEL
&kp LALT    &kp A     &kp S     &kp D      &kp F             &kp G                    &kp H                   &kp J              &kp K          &kp L       &kp BSLH    &kp SQT
&kp LSHFT   &kp Z     &kp X     &kp C      &kp V             &kp B      &kp C_MUTE    &mkp MB3                &kp N              &kp M          &kp COMMA   &kp DOT     &kp UP      &kp FSLH
&kp LCTRL   &kp LGUI  &kp LALT  &lt150 FN INT_MUHENKAN       &mt200 LSHFT SPACE       &lt150 EDIT INT_HENKAN   &lt150 EDIT BSPC    &lt150 FN ENTER &lt300 CUSTOM MINUS       &kp LEFT    &kp DOWN    &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
&kp ESC     &kp F1    &kp F2    &kp F3     &kp F4            &kp F5                   &kp N7                  &kp N8             &kp N9         &kp N0      &kp EQUAL   &macro_m1
&kp TAB     &kp F6    &kp F7    &kp F8     &kp F9            &kp F10                  &kp N4                  &kp N5             &kp N6         &kp KP_PLUS &kp KP_MINUS &kp DLLR
&kp LSHFT   &kp F11   &kp F12   &kp F2     &kp F2            &macro_m3  &kp C_MUTE    &mkp MB3                &kp N1             &kp N2         &kp N3      &kp KP_MULTIPLY &kp KP_DIVIDE &kp PRCNT
&kp LCTRL   &kp LGUI  &kp LALT  &none      &none             &none                    &kp BSPC                &kp ENTER          &kp COLON      &kp KP_DOT  &kp CARET   &macro_m2
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        custom_layer {
            display-name = "Custom";
            /* Vial USER00, USER01, and USER02 are left unbound until their intended ZMK behaviors are known. */
            bindings = <
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &kp LG(L)
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none      &kp C_MUTE    &mkp MB3                &none              &none          &none       &none      &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        edit_layer {
            display-name = "Edit";
            bindings = <
&none       &none     &none     &none      &kp DLLR          &kp UNDER                &kp F2                  &kp LPAR           &kp RPAR       &none       &none      &macro_m1
&kp TAB     &none     &none     &none      &kp MINUS         &kp AT                   &kp EXCL                &kp LBKT           &kp RBKT       &none       &none      &macro_m0
&none       &none     &kp LC(X) &kp LC(C)  &kp LC(V)         &kp F2     &kp C_MUTE    &mkp MB3                &kp QUESTION       &kp LBRC       &kp RBRC    &none      &none      &none
&none       &none     &none     &none      &kp SPACE         &none                    &none                   &kp LA(ENTER)      &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        shifted_layer {
            display-name = "Shift";
            bindings = <
&kp ESC     &kp LS(Q) &kp LS(W) &kp LS(E)  &kp LS(R)         &kp LS(T)                &kp LS(Y)               &kp LS(U)          &kp LS(I)      &kp LS(O)   &kp LS(P)  &kp DEL
&kp TAB     &kp LS(A) &kp LS(S) &kp LS(D)  &kp LS(F)         &kp LS(G)                &kp LS(H)               &kp LS(J)          &kp LS(K)      &kp LS(L)   &kp COLON  &kp DQT
&none       &kp LS(Z) &kp LS(X) &kp LS(C)  &kp LS(V)         &kp LS(B)  &kp C_MUTE    &mkp MB3                &kp LS(N)          &kp LS(M)      &kp LT      &kp N      &kp UP      &kp QUESTION
&kp LCTRL   &kp LGUI  &kp LALT  &none      &kp SPACE         &none                    &kp BSPC                &kp ENTER          &kp ENTER      &kp LEFT    &kp DOWN   &kp RIGHT
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        layer_5 {
            display-name = "Layer5";
            bindings = <
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none      &kp C_MUTE    &mkp MB3                &none              &none          &none       &none      &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        layer_6 {
            display-name = "Layer6";
            bindings = <
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none      &kp C_MUTE    &mkp MB3                &none              &none          &none       &none      &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        layer_7 {
            display-name = "Layer7";
            bindings = <
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none      &kp C_MUTE    &mkp MB3                &none              &none          &none       &none      &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        layer_8 {
            display-name = "Layer8";
            bindings = <
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none      &kp C_MUTE    &mkp MB3                &none              &none          &none       &none      &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };

        layer_9 {
            display-name = "Layer9";
            bindings = <
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
&none       &none     &none     &none      &none             &none      &kp C_MUTE    &mkp MB3                &none              &none          &none       &none      &none      &none
&none       &none     &none     &none      &none             &none                    &none                   &none              &none          &none       &none      &none
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &scroll_encoder>;
        };
    };
};
